h1{
    background: #000;
    color: bisque;
}


.info{
    padding: 15px 15px;
    background: rgba(255,255,255,0.5);
    backdrop-filter: saturate(80%) blur(4px);
    border: 0.1px solid black;
    box-shadow: 10px 10px 15px 10px #00000073;
    border-radius: 35px;
    height: 200px;
    width: 450px;
    box-shadow: 10px 6px 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    flex-direction: column;
    padding: 10px 2px;
    color: #000;
}

.pic{
    height: 200px;
    width: 200px;
   
    border-radius: 50%;
}



.info-sec{
    position: relative;
    top: 20px;
    width: auto ;
    left: 100px;
    padding: 15px 15px;
    background: rgba(255,255,255,0.0.3);
    backdrop-filter: saturate(80%) blur(4px);
    border: 0.1px solid black;
    box-shadow: 10px 10px 15px 10px #00000073;
    border-radius: 35px;
    
}