body{
    
    box-sizing: border-box;
}

.box{
    position: relative;
    top: 200px;
    left: 0px;
    max-width: 400px;
    padding: 15px 15px;
    background: rgba(255,255,255,0.0.3);
    backdrop-filter: saturate(80%) blur(4px);
    border: 0.1px solid black;
    box-shadow: 10px 10px 15px 10px #00000073;
    border-radius: 35px;
    
}

.mail{
    background: rgb(255, 255, 255);
    padding-left: 12px;
}
.password{
    background: rgb(255, 255, 255);
    border-bottom: #00000073 1px;
    border-radius: 25px;
}

input{
    border: 0px;
    border-bottom: #00000073 1px;
    border-radius: 20px;
    margin-left: 23px;
}